#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.search-input {
  padding: 20px;
  color: #212427;
  width: 50%;
  border: 1px solid lightgray;
  border-radius: 5px;
  font-size: 24px;
}

.search-input:focus {
  outline: none;
}